@font-face { 
    font-family: 'Franklin'; 
   src: url('../fonts/frangbcc-webfont.eot');
    src: url('../fonts/frangbcc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frangbcc-webfont.woff') format('woff'),
         url('../fonts/frangbcc-webfont.ttf') format('truetype'),
         url('../fonts/frangbcc-webfont.svg#franklingothicbookcmpcbook') format('svg');
    font-weight: normal;
    font-style: normal;	
} 

.container{
    
}

.container a:hover{
    text-decoration: none;
}
.wrapper_main{
   
}
.nav-main{
    width:450px;
    height:430px;
    margin: 0px auto 0;
    background: url(../img/middle.jpg) no-repeat 0 100px;
    position: relative;
    top: 47px;
    margin-left: 348px;
}
.b-cabinet{
    width:170px;
    float:right;
    text-align: right;
    top:18px;
    position: relative;

}
.b-cabinet__search{
    width:157px;
    height:28px;
    float:right;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius:5px;
    outline: none;
    margin-top: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding-left:10px;

}
.b-cabinet__entry{
    position:relative;
    text-decoration: none;
    margin-right: 15px;
}
.b-cabinet__reg{
    position:relative;
    text-decoration: none;
}

.b-cabinet__entry:after{
    content:'\002F';
    position:absolute;
    top:0;
    right:-13px;

}
.nav-main li, .nav-top li, .nav-main_foot li, .nav-left li{
    display: inline-block;
    vertical-align: top;
    font-family: 'Franklin', sans-serif;
}
.nav-main__l{
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    text-align: center;
    color:#b2b2b2;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}
.nav-main .nav-main__l, .nav-main_foot .nav-main__l{
     width:85px;

}
.nav-main .nav-main__l_1{
    left:105px;
    top: 5px;

}
.nav-main__l img{
    margin-bottom: 2px;
    margin-top: 3px;
}
.nav-main .nav-main__l_2{
    top: 149px;
    right: 163px;
}
.nav-main .nav-main__l_3{
    top: 150px;
    left: 103px;
}
.nav-main .nav-main__l_4{
    top: 228px;
    right: 160px;
}
.nav-main .nav-main__l_5{
    top: 206px;
    right: 77px;
}
.nav-main .nav-main__l_6{
    top: 206px;
    left: 192px;
}
.nav-main_foot .nav-main__l_7{
    left: 0px;
    top: 21px;
}
.nav-main_foot .nav-main__l_8{
    margin-left: 339px;
    top: 2px;
}

.nav-main_foot .nav-main__l_9{
    margin-left: 310px;
    top:20px;
}

.nav-main_foot{
    margin-top: 50px;
}
.nav-top__l{
    display:inline-block;
    margin-left: 0px;
}
.nav-top .nav-main__l{
    width:70px;
    height:110px;
    margin-top: 10px;
    margin-left: 0px;
}
.sidebar{
    clear: right;
    width:200px;
    float:right;
    padding-top: 30px;
    padding-right: 5px;
}
.nav-left{
    width:150px;
}

.nav-top{
    padding-left: 0px;
}
.b-info__title{
    font-size: 26px;
    letter-spacing: -0.8pt;
}
.b-info__tags{
    font-size: 13px;
    display: block;
    margin:0px 0 15px 0;
}

.content p {
    margin: 10px 0;
}
.b-info__tags_bottom{
    margin-top:30px;
}
.b-info{
    margin-bottom:50px;
}
.content a{
}

.tag-cloud{text-align:center;}
.tag-cloud li{display:inline;margin-right:5px;line-height:22px}
.tag-cloud li a{color:#727a90}
.tag-cloud li a:hover{color:red}
.tag-cloud li .tag-size-1{font-size:14px}
.tag-cloud li .tag-size-2{font-size:18px}
.tag-cloud li .tag-size-3{font-size:20px}
.tag-cloud li .tag-size-4{font-size:22px}
.tag-cloud li .tag-size-5{font-size:24px}
.tag-cloud li .tag-size-6{font-size:26px}
.tag-cloud li .tag-size-7{font-size:28px}


.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > button
{ background-color: #fff;
    border: 1px solid #c0c0c0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > button{
    
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > button {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus,
.pagination ul > .disabled > button {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span,
.pagination ul > li:first-child > button {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.pagination ul > li:last-child > button {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}