{% extends 'archive.html' %}

{% block content_top %}
    <ul class="nav nav-pills">
        {% for item in filetypes %}
            <li><a href='/archive/filetype/{{ item.id }}'>{{ item.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h2>Медспециальности</h2>
    {% for item in medspec %}
        <a href='/archive/category/{{ item.id }}' data-toggle="tooltip" data-placement="right" title="{{ item.name }}"><img src='/media/{{ item.icon }}' alt='{{ item.name }}'  /></a>
    {% endfor %}
{% endblock %}

{% block right_content %}
    <h2>Доклиника</h2>
    {% for item in dokl %}
        <a href='/archive/category/{{ item.id }}' data-toggle="tooltip" data-placement="right" title="{{ item.name }}"><img src='/media/{{ item.icon }}' alt='{{ item.name }}'  /></a>
    {% endfor %}
{% endblock %}
