{% extends 'archive.html' %}

{% block content_top %}
    <ul class="breadcrumb">
        <li class="active">Поиск по категории: <b>{{ category.name }}</b></li>
    </ul>
{% endblock %} 

{% block content %}
    {% for a in files %}
        <div class="b-info">
            <a href="/media/{{ a.file }}/" target='_blank'><h4>{{ a.name }}</h4></a>
            <h5>{{ a.category.name }}</h5>
            <p>{{ a.text|safe }}</p>
            <a href="/media/{{ a.file }}/" target='_blank'>Скачать...</a>
        </div>
    {% empty %}
        <h4>В этой категории нет файлов.</h4>
    {% endfor %}
    
    {% if need_pagination %}
        <div class="pagination" >
            <ul> 
                <li {% if not articles.has_previous %} class="disabled" {% endif %}>
                    <a href="{{ get_request }}?page={{ articles.previous_page_number }}">&laquo;</a>
                </li>
            
                {% for p in page_range %}
                    <li {% if p == articles.number %} class='active' {% endif %}>
                        <a href="{{ get_request }}?page={{ p }}">{{ p }}</a>
                    </li>
                {% endfor %}
            
            
                <li {% if not articles.has_next %} class="disabled" {% endif %}>
                    <a href="{{ get_request }}?page={{ articles.next_page_number }}">&raquo;</a>
                </li>
            </ul>
        </div><!--.page_navigation-->
    {% endif %}
{% endblock %}

{% block right_content %}
    Здесь правая панель
{% endblock %}
