{% extends 'base.html' %}

{% load mptt_tags %}

{% block wrapper %}
            
    <div class="row">
            <div class="span9">
                <br />
                {% block content_top %}
                {% endblock %}
                </div>
                <div class="span3" style='padding-top: 20px'>
                    {% include 'login.html' %}
                    {% include 'search_form.html' %}
                </div>
            <div/>
    </div>
    <div class="row">
        <div class="content span8">
            {% block content %}
            {% endblock %}
        </div> 
        
        <div class='span4'>
            {% block right_content %}
            {% endblock %}
        </div>
   
     </div>
     
{% endblock %}
