{% extends 'base.html' %}

{% load mptt_tags %}

{% block wrapper %}
            
    <div class="row">
            <div class="span9">
                <br />
                {% block content_top %}
                {% endblock %}
                </div>
                <div class="span3" style='padding-top: 20px'>
                    {% include 'login.html' %}
                    {% include 'search_form.html' %}
                </div>
            <div/>
    </div>
    <div class="row">
        <div class="content span10">
            {% block content %}
            {% endblock %}
        </div> 
        
        <div class='span2'>
            {% block right_content %}
                <a href='/'><img src='/static/img/1.jpg' alt='На главную'  width="72" height="72" /><br />На главную</a>
            {% endblock %}
        </div>
   
     </div>
     
{% endblock %}
