{% extends 'base_articles.html' %}

{% block content %}
    {% comment %}
    {% if category %}
    <ul class="breadcrumb">
        {% for b in breadcrumb %} 
            <li><a href='/articles/category/{{b.id}}'>{{ b.name }}</a> <span class="divider">/</span></li>
        {% endfor %} 
        <li class="active">{{ category.name }}</li>
    </ul>
    {% endif %}
    {% endcomment %}
    
    {% if tag %}
    <ul class="breadcrumb">
        <li class="active">Поиск по тегу: <b>{{ tag.name }}</b></li>
    </ul>
    {% endif %}
    
    {% for a in articles %}
        <div class="b-info">
            <a class="b-info__title" href="/article/{{ a.id }}/">{{ a.name }}</a>
            <span class="b-info__tags">{{ a.date }}</span>
            {{ a.desc|safe }}
            <a href="/article/{{ a.id }}/">(подробнее...&hellip;)</a>
            <span class="b-info__tags b-info__tags_bottom">Комментариев ({{ a.comment.count }}) &lt;тэги:
                {% for t in a.tags.all %}
                    <a href="/articles/tag/{{ t.id }}/">{{ t.name }}</a>,
                {% endfor %}
            &gt; </span>
        </div>
    {% empty %}
        <h4>В этой категории нет статей.</h4>
    {% endfor %}
    
    {% if need_pagination %}
        <div class="pagination" >
            <ul> 
                <li {% if not articles.has_previous %} class="disabled" {% endif %}>
                    <a href="{{ get_request }}?page={{ articles.previous_page_number }}">&laquo;</a>
                </li>
            
                {% for p in page_range %}
                    <li {% if p == articles.number %} class='active' {% endif %}>
                        <a href="{{ get_request }}?page={{ p }}">{{ p }}</a>
                    </li>
                {% endfor %}
            
            
                <li {% if not articles.has_next %} class="disabled" {% endif %}>
                    <a href="{{ get_request }}?page={{ articles.next_page_number }}">&raquo;</a>
                </li>
            </ul>
        </div><!--.page_navigation-->
    {% endif %}
{% endblock %}

{% block right_content %}
    {% if sub_categories %}
        <h5>Категории:</h5>
        <ul class="nav nav-list">
            <li class="nav-header">{{ category.name }}</li>
            {% for s in sub_categories %} 
                <li><a href='/articles/category/{{s.id}}'>{{ s.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if all_articles %}
        <h5>Статьи:</h5>
        <ul class="nav nav-list">
        {% for a in all_articles %}
            <li><a href="/article/{{ a.id }}/">{{ a.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% include 'tags_widget.html' %}
{% endblock %}