{% extends 'base_articles.html' %}

{% block content %}
        {% if category %}
        <ul class="breadcrumb">
            {% for b in breadcrumb %} 
                <li><a href='/articles/{{b.slug}}'>{{ b.name }}</a> <span class="divider">/</span></li>
            {% endfor %} 
            <li class="active">{{ article.name }}</li>
        </ul>
        {% endif %}
        
        {% if tag %}
        <ul class="breadcrumb">
            <li class="active">Поиск по тегу: {{ tag.name }}</li>
        </ul>
        {% endif %}
        
        <div class="b-info">
            <a class="b-info__title" href="/article/{{ category.slug }}/{{ article.slug }}/">{{ article.name }}</a>
            <span class="b-info__tags">{{ article.date }}</span>
            {{ article.text|safe }}
            <span class="b-info__tags b-info__tags_bottom"><a href="#">Комментариев (8)</a> &lt;тэги:
                {% for t in article.tags.all %}
                    <a href="/tags/{{ t.slug }}/">{{ t.name }}</a>,
                {% endfor %}
            &gt; </span>
        </div>
{% endblock %}