{% extends 'base_articles.html' %}

{% block content %}
        {% if category %}
        <ul class="breadcrumb">
            {% for b in breadcrumb %} 
                <li><a href='/articles/category/{{b.id}}'>{{ b.name }}</a> <span class="divider">/</span></li>
            {% endfor %} 
            <li class="active">{{ article.name }}</li>
        </ul>
        {% endif %}
        
        {% if tag %}
        <ul class="breadcrumb">
            <li class="active">Поиск по тегу: {{ tag.name }}</li>
        </ul>
        {% endif %}
        
        <div class="b-info">
            <h2>{{ article.name }}</h2>
            <span class="b-info__tags">{{ article.date }}</span>
            {{ article.text|safe }}
            
            
                {% if request.user.is_superuser %}
                    <a href='/article/{{ article.id }}/edit/'>Редактировать</a> &nbsp;|&nbsp;
                    <a href='/article/{{ article.id }}/delete/'>Удалить</a>
                    <br />
                {% endif %}
            
            <span class="b-info__tags b-info__tags_bottom">&lt;тэги:
                {% for t in article.tags.all %}
                    <a href="/tags/{{ t.slug }}/">{{ t.name }}</a>,
                {% endfor %}
            &gt; </span>
            
            
            <div class="share42init"></div>
                            <script type="text/javascript" src="/static/js/share42/share42.js"></script>
                            <script type="text/javascript">share42('/static/js/share42/')</script>
            
            {% if request.user.is_authenticated %}
                <h3>Написать комментарий</h3>
                <form action='' method='POST' class='well'>
                    {% csrf_token %}
                    <textarea name='text' style='width: 645px'></textarea><br />
                    <input type='submit' name='send_comment' value='Отправить' class='span2 btn' />
                </form>
            {% else %}
                <h4>Чтобы написать комментарий, <a href='/accounts/register/'>войдите</a></h4>
            {% endif %}
            
            <h3>Комментарии ({{ article.comment.count }})</h3>
            {% for c in article.comment.all %}
                <p style='margin-left: 20px'><b>{{ c.name }}</b>: <br />{{ c.text }}<br /><i>{{ c.date }}</i></p>
            {% endfor %}
        </div>
{% endblock %}

{% block right_content %}
    {% if articles %}
        <h5>Статьи из этой категории:</h5>
        <ul class="nav nav-list">
        {% for a in articles %}
            <li><a href="/article/{{ a.id }}/">{{ a.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% include 'tags_widget.html' %}
{% endblock %}