{% extends 'base.html' %}

{% load mptt_tags %}

{% block wrapper %}
            
    <div class="row">
            <div class="span9">
                <ul class="nav-top" >
                    {% for m in top_menu %}
                        <li><a href="/articles/category/{{ m.id }}/" class="nav-main__l" ><img src="/media/{{ m.icon }}"/>{{ m.name }}</a></li>
                    {% endfor %}
                    <li><a href="/archive/" class="nav-main__l" ><img src="/static/img/8.jpg"/>Архив</a></li>
                </ul>
            </div>
            <div class="span3" style='padding-top: 20px'>
                {% include 'login.html' %}
                {% include 'search_form.html' %}
            </div>
           
    </div>
    <div class="row">
        <div class="content span9">
            {% block content %}
            {% endblock %}
        </div> 
        
        <div class='span3'>
            {% block right_content %}
            {% endblock %}
        </div>
   
     </div>
     
{% endblock %}
