<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Доминанта Здоровья{% endblock %}</title>
    
<!--     <link type="text/css" rel="stylesheet" href="/static/css/reset.css"/> -->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
    <script src="/static/js/jquery-1.10.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block extended_head %}
    {% endblock %}
</head>
    <body>
        <div class="container">
            {% block wrapper %}
            {% endblock %}

            <div class='row'>
                <div class='span12'>
                    <hr />
                    &copy; Доминанта Здоровья 2013
                </div>
            </div>
        </div>
    </body> 
</html>
