{% extends 'base.html' %}

{% block wrapper %}
    <div class="wrapper_main">
        <a href='/about/' style='position: absolute'><img src='/static/img/1.jpg' /></a>
        <div class="b-cabinet">
            {% include 'login.html' %}
            {% include 'search_form.html' %}
        </div>
        <ul class="nav-main">
            <li><a href="/articles/category/5/" class="nav-main__l nav-main__l_1">Инкубатор<img src="/static/img/9.jpg"/></a></li>
            <li><a href="/articles/category/1/" class="nav-main__l nav-main__l_2"><img src="/static/img/5.jpg"/>ГЛ</a></li>
            <li><a href="/articles/category/2/" class="nav-main__l nav-main__l_3"><img src="/static/img/2.jpg"/>Ультра</a></li>
            <li><a href="/articles/category/10/" class="nav-main__l nav-main__l_4"><img src="/static/img/4.jpg"/></a></li>
            <li><a href="/articles/category/3/" class="nav-main__l nav-main__l_5"><img src="/static/img/6.jpg"/>Медиа</a></li>
            <li><a href="/articles/category/4/" class="nav-main__l nav-main__l_6"><img src="/static/img/3.jpg"/>Лайт</a></li>
        </ul>
        <ul class="nav-main_foot">
            <li><a href="/archive/" class="nav-main__l nav-main__l_7"><img src="/static/img/8.jpg"/>архив</a></li>
            <li><a href="/articles/category/6/" class="nav-main__l nav-main__l_8">поток<img src="/static/img/7.jpg"/>сознания</a></li>
            <li><a href="/articles/category/7/" class="nav-main__l nav-main__l_9"><img src="/static/img/9.jpg"/>полезно</a></li>
        </ul>

   </div>
{% endblock %}

