<form style='width: 380px; float: right;' action='/search/' method='POST'>
    <div class="input-append">
        <input type="text" id='search-input' name='query' value='{{ search_query }}' style='height: 20px; width: 230px'>
        <button type="button" class="btn btn-info" data-toggle="button" id='plus-button'>+</button>
        <button type="button" class="btn btn-info" data-toggle="button" style='display: none; width: 80px' id='in-archive'>в архиве</button>
        <button type="submit" class="btn" name='search'  style='height: 30px;'><i class='icon-search' ></i></button>
    </div>
    <div style='float: right; display: none'>
        <input type="checkbox" name='in_archive' id='checker' >
        <label>искать в архиве</label>
    </div>
    {% csrf_token %}
</form>

 <script>
    $('#plus-button').click(function(){
        $('#in-archive').css('display', 'inline');
        $('#search-input').css('width', '150px');
    });
    $('#in-archive').click(function(){
        if ($(this).hasClass('active')) 
           $('#checker').prop('checked', false)
        else 
            $('#checker').prop('checked', true)
    });
</script>